.registerContaniner {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.registerHeader {
  color: var(--button-hover-color);
}

.registerItem {
  text-decoration: none;
  color: var(--text-color);
  /* border: 1px solid blueviolet; */
}

.registerItem:hover {
  color: var(--button-hover-color);
}

.registerFormStyle {
  margin: 2em 0 0 0;
  width: 15em;
  display: flex;
  flex-direction: column;
}