.stopwatchContainer {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 5 / 7;
    align-items: center;
    border: 2.5px solid #19171D;
}

.title {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 0;
}

.timerDisplay {
    color: whitesmoke;
    text-align: center;
    font-size: 1.3rem;
    /* border: 1px solid pink; */
}

.btnStyle {
    background-color: #202b33;
    outline: none;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.8em 1.6em;
    color: whitesmoke;
    font-size: 1rem;
    margin: 2.5px 5px;
    cursor: pointer;
   
    
}
.btnStyle:hover {
    background-color: #106ba3;
    border: solid 1px transparent;
    color: #202b33;

}
