.stopwatchContainer {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 5 / 7;
    align-items: center;
    border: 2.5px solid var(--border-color);
}

.title {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 0;
}

.timerDisplay {
    color: var(--text-color);
    text-align: center;
    font-size: 1.3rem;
    /* border: 1px solid pink; */
}

.btnStyle {
    background-color: var(--button-bg-color);
    outline: none;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.8em 1.6em;
    color: var(--text-color);
    font-size: 1rem;
    margin: 2.5px 5px;
    cursor: pointer;    
}

.btnStyle:hover {
    background-color: var(--button-hover-color);
    border: solid 1px transparent;
    color: var(--button-bg-color);
}
