.headerStyle {
    grid-column: 1 / -1 ;
    grid-row: 0 / 1;
    background-color: var(--main-bg-color);
    border: 5px solid var(--border-color);
    display: flex;
    color: var(--text-color);
    /* border: 1px dashed pink; */
}

.headerStyle h1 {
    margin: auto 0 auto 10%;
}

.headerStyle h4:nth-of-type(1) {
    margin: 2.25% 0 auto 2%;
}

.headerStyle h4:nth-of-type(2) {
    margin: auto 0 auto 10%;
}

.weatherInfo {
    width: 30%;
    margin: auto auto auto 15%;
    display: flex;
    justify-content: space-between;
}
.searchForm{
    color: var(--text-color);
    margin: auto 0 auto 30%;
    display: flex;
}
