.cardDisplay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border: 1px solid pink;
}
.scoreCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
    border: 1px solid pink;
}

.buttonStyle {
    grid-column: 6/ 6;
}

.dailyScores {
    display: grid;
    border: 1px solid pink;
}
.dateStyle {
    grid-column: 1/ 5;
}

.scoreStyle {
    grid-column: 1/ -1;

    grid-row: 2/ 2;
    border: 1px solid pink;


}

div div p {
    font-size: 0.8rem;
}