.headerStyle {
    grid-column: 1 / -1 ;
    grid-row: 0/1;
    background-color: rgb(26,29,33);
    border: 5px solid #19171D;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    /* border: 1px dashed pink; */
}