.navBarContainer {
    grid-column: 1 / 3 ;
    grid-row: 2 / 5;
    display: grid;
}

.navBar {   
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1.5em;
    display: grid;
    align-items: center;
    background-color: var(--main-bg-color);
    border: 5px solid var(--border-color);

}

.NavLi {
    list-style-type: none;
}

.navItem {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--button-hover-color);
    /* border: 1px solid blueviolet; */
}

.nevItem ::before {
    color: var(--button-hover-color);
}

.selectedLink {
    color: var(--text-color)
}


