.navBarContainer {
    grid-column: 1 / 3 ;
    grid-row: 2/5;
    display: grid;
}

.navBar {   
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1.5em;
    display: grid;
    align-items: center;
    background-color: rgb(26,29,33);
    border: 5px solid #19171D;

}

.NavLi {
    list-style-type: none;
}

.navItem {
    text-decoration: none;
    font-size: 1.5rem;
    color: #106ba3;
    /* border: 1px solid blueviolet; */
}

.nevItem ::before {
    color: #106ba3;
}

.selectedLink {
    color: whitesmoke
}


