.navBarContainer {
    grid-column: 1 / 3 ;
    grid-row: 2/-1;
    border: 3px solid midnightblue;
    /* background-color: rgb(42, 42, 156); */
    display: grid;
}

.navBar {   
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid blueviolet;

}
div ul li::before{
    color: white;

}
.navItem {
    color: white;
    list-style-type: none;
    text-decoration-line: none;
    font-size: 1.5rem;
    /* border: 1px solid blueviolet; */
}
