.loginContaniner {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid pink; */
}
.loginHeader {
  color: var(--button-hover-color);

}

.loginItem {
  text-decoration: none;
  color: var(--text-color);
  /* border: 1px solid blueviolet; */
}

.loginItem:hover {
  color: var(--button-hover-color);
}

.loginFormStyle {
margin: 2em 0 0 0;
width: 15em;
display: flex;
flex-direction: column;
}