

.formStyle {
    grid-column: 1/4;
}

.ulStyle {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.liStyle {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5rem;
    align-items: center;
}

.checkBoxStyle {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}



