.cardDisplay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 150px;
    grid-gap: 5px;
    /* border: 1px solid pink; */
}



/* homecard */

.scoreCard {
    display: flex;
    flex-direction: column;   
    border: 1px solid var(--button-hover-color);
    border-radius: 10px;
    box-shadow: 0 3px 6px var(--main-bg-color);
    text-align: center;
}

.dateStyle {
    padding-left: .3em;
    text-align: center;
}

.buttonStyle {
    background-color: var(--button-hover-color);
    outline: none;
    border: solid 1px transparent;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

.scoreStyle {
    grid-column: 1/6;    
    grid-row: 2/ 2;
    justify-content: center;
    /* border: 1px solid pink; */
    
}



/* Sub map components */
.dailyScores {
    /* display: grid;
    grid-column: 1/-1; */
    /* border: 1px solid pink; */
}

.activityRow {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 0.2em 0 0.2em;
    border: 1px solid rgb(209,210,211);
}

div div p {
    font-size: 0.8rem;
}